body {
    background-color: #cee75e;
}
h1 {
    color: #EDF5E1;
    font-size: 4em;
}
a {
    color: #EDF5E1;
    font-size: 2em;  
}
g {
    color: #812c05;
    background-color: #EDF5E1;
    font-size: 1.5em;
}