body {
    background-color: #5CDB95;
}
h1 {
    color: #EDF5E1;
    font-size: 4em;
}
a {
    color: #EDF5E1;
    font-size: 2em;
}
g {
    background-color: #5CDB95
}
div {
    background-color: #5CDB95;
}