body {
    background-color: #5CDB95;
}
h1 {
    color: #EDF5E1;
    font-size: 4em;
}
a {
    color: #EDF5E1;
    font-size: 2em;  
}
g {
    color: #05386B;
    background-color: #EDF5E1;
    font-size: 1.5em;
}
