body {
    background-color: #6260c9e5;
}
nav {
    color: #05386B;
    background-color: #78b8ec;
    font-size: 2em;
}
h1 {
    color: white;
    font-size: 4em;
}
main {
    color: white;
    background-color: #be4541;
    font-size: 2.5em;
}
#picture {
    color: white;
    background-color: #db6060;
    font-size: 1em;
}